<div class="articles">
    <ol>
        {% for article in articles_page.object_list %}
        <li>
            <article>
                <footer>
                     <p>
                        <time datetime="{{ article.date }}">
                            <script>document.write(moment('{{ article.date }}').format('LL'));</script>
                        </time>
                    </p>
                </footer>
                <header>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <h2>{{ article.title }}</h2>
                    </a>
                </header>
                {% if article.description %}
                <div class="summary">{{ article.description }} </div>
                {% else %}
                <div class="summary">{{ article.summary|striptags|truncate(250) }} </div>
                {% endif %}
                <div class="tags">
                    <ul class="tags">
                    {% for tag in article.tags %}
                        <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </article>
        </li>
        {% endfor %}
    </ol>
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
    
</div>